body.home-template {
  h1 {
    font-weight: 400;
  }
}

.home-hero {
  --banner-background-opacity: 14%;
  --banner-border-opacity: 40%;

  body.dark-scheme & {
    --banner-background-opacity: 26%;
    --banner-border-opacity: 59%;
  }

  @media (prefers-color-scheme: dark) {
    --banner-background-opacity: 26%;
    --banner-border-opacity: 59%;
  }

  display: flex;
  flex-direction: column;
  gap: var(--s2-spacing-400);
  align-items: center;
  
  .home-banner {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    @media (width >= 600px) {
      flex-direction: row;
      justify-content: space-between;
      max-inline-size: fit-content;
      padding-inline: var(--s2-spacing-300);
      border-radius: 100px;
      border: 1px solid rgb(from var(--s2-blue-500) r g b / var(--banner-border-opacity));
      gap: var(--s2-spacing-500);
      background-color: rgb(from var(--s2-blue-500) r g b / var(--banner-background-opacity));
    }
  }

  /* banner paragraph text */
  .home-banner p:has(svg) {
    display: inline-flex;
    align-items: center;
    max-inline-size: fit-content;
    box-sizing: border-box;
    padding: var(--s2-spacing-100) var(--s2-spacing-300);
    border-radius: 100px;
    border: 1px solid rgb(from var(--s2-blue-500) r g b / var(--banner-border-opacity));
    gap: var(--s2-spacing-200);
    background-color: rgb(from var(--s2-blue-500) r g b / var(--banner-background-opacity));

    @media (width >= 600px) {
      padding: 0;
      border: none;
      border-radius: 0;
      background-color: transparent;
    }
  }
  
  /* hero subtext */
  p {
    max-inline-size: 80ch;
  }
}

@media (width >= 900px) {
  .home-template {
    padding-inline-start: 0;

    .template-wrapper {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-areas: 'nav-rail main';
      gap: var(--s2-spacing-700);
      inline-size: 100%;
      box-sizing: border-box;

      .nav-rail {
        grid-area: nav-rail;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: var(--s2-spacing-100);
        position: sticky;
        top: calc(var(--sh-header-height) + var(--s2-spacing-100) + 8px);
        block-size: calc(100dvh - var(--sh-header-height) - var(--s2-spacing-100) - 16px);

        .sitenav {
          display: block;
          position: relative;
          inset: 0;
          flex: 0 0 var(--sh-sitenav-rail-width);
          z-index: 1;
        }
      }

      main {
        grid-area: main;
      }
    }
  }
}
