ALGOLIA_APP_ID=your-algolia-app-id
ALGOLIA_WRITE_API_KEY=your-algolia-write-api-key
ALGOLIA_INDEX_NAME=the-algolia-index-name
LINKCHECK_BASE_URL=the-linkcheck-base-url-to-crawl
ALLOWED_ORIGINS=https://spectrum.adobe.com

