.columns {
  --columns-gap: 0;
  --image-corner-radius: 24px;
  --xs-image-size: 120px;
  --s-image-size: 316px;
  --m-image-size: 502px;

  display: grid;

  picture {
    display: block;
    width: 100%;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    background-color: var(--s2-gray-800);
    border-radius: var(--image-corner-radius);
  }

  .row {
    display: grid;
    align-items: center;
    gap: var(--columns-gap);
  }

  @media (width >= 768px) {
    /* extra-small */
    &:not(:is(.small, .medium, .large)) {
      --col-size: var(--xs-image-size);
    }

    /* small */
    &.small {
      --col-size: var(--s-image-size);
    }

    /* medium */
    &.medium {
      --col-size: var(--m-image-size);
    }

    .row {
      grid-template-columns: var(--col-size) auto;
    }
  }

  .col {
    :first-child {
      margin-top: 0;
    }

    :last-child {
      margin-bottom: 0;
    }
  }

  &.gap-xs {
    --columns-gap: var(--s2-spacing-100);
  }

  &.gap-s {
    --columns-gap: var(--s2-spacing-200);
  }

  &.gap-m {
    --columns-gap: var(--s2-spacing-300);
  }

  &.gap-l {
    --columns-gap: var(--s2-spacing-400);
  }

  &.gap-xl {
    --columns-gap: var(--s2-spacing-500);
  }

  &.gap-xxl {
    --columns-gap: var(--s2-spacing-600);
  }

  &.image-cover {
    .cover-row {
      .cover-content {
        padding: var(--s2-spacing-600);
      }

      .cover-image {
        position: relative;
        padding-bottom: 100%;

        picture {
          position: absolute;
          inset: 0;
        }

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &.align-top {
    .row {
      align-items: start;
    }
  }

  &.image-right {
    @media (width >= 768px) {
      .row {
        grid-template-columns: auto var(--col-size);
      }

      .col-1 {
        order: 2;
      }
    }
  }
}
