.breadcrumbs {
  max-width: var(--se-grid-container-width);
  margin: 0 auto;
  padding-block-end: var(--s2-spacing-300);

  ol {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: var(--s2-body-size-s);
    color: var(--s2-gray-700);
  }

  li {
    display: flex;
    align-items: center;

    &:not(:first-child)::before {
      content: '›';
      color: var(--s2-gray-400);
      margin-inline: var(--s2-spacing-100);
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
