header {
  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: var(--s2-gray-1000);
  }

  .header-content {
    max-width: var(--se-grid-container-width);
    height: 100%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    gap: var(--s2-spacing-100);
  }
}

.brand-section {
  margin-right: auto;

  .default-content {
    margin: 0;
  }

  img, svg {
    display: block;
    width: 32px;
    height: 32px;
  }

  a {
    display: flex;
    align-items: center;
    gap: var(--s2-spacing-200);
    font-family: var(--s2-font-display-family);
    font-size: var(--s2-heading-size-xs);
    font-weight: 900;
  }
}

.main-nav-section {
  position: relative;
  display: flex;
  align-items: center;
  font-size: var(--s2-body-size-s);
  gap: var(--s2-spacing-300);

  ul {
    display: none;
    align-items: center;
    gap: var(--s2-spacing-400);
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  &:has(+ .actions-section) {
    &::after {
      display: block;
      content: '';
      background-color: var(--s2-gray-200);
      width: 2px;
      height: 32px;
      border-radius: var(--se-corner-radius-50);
    }
  }
}

.actions-section {
  ul {
    display: flex;
    align-items: center;
    gap: var(--s2-spacing-100);
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    display: block;
  }
}


@media (width >= 600px) {
  .main-nav-section {
    ul {
      display: flex;
    }
  }
}
