.se-button {
  --se-button-color: #fff;
  --se-button-background-color: light-dark(var(--s2-blue-900), var(--s2-blue-700));
  --se-button-border-color: var(--se-button-background-color);
  --se-button-outline-color: var(--se-button-background-color);
  --se-button-line-height: var(--s2-component-m-bold-line-height);
  --se-button-padding: var(--s2-spacing-300);
  --button-height: var(--s2-component-m-height);
  --button-border-radius: var(--s2-corner-radius-800);
  --button-font-size: var(--s2-component-m-regular-font-size);
  --button-font-weight: 500;

  /* main CTA button on homepage, XL */
  button, a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 34px;
    gap: 6px;
    padding-inline: var(--se-button-padding);
    line-height: var(--se-button-line-height);
    font-size: var(--button-font-size);
    color: var(--se-button-color);
    background: var(--se-button-background-color);
    border-color: var(--se-button-border-color);
    border-width: 2px;
    border-style: solid;
    font-family: var(--s2-font-family);
    border-radius: var(--button-border-radius);
    outline-offset: 0;
    transition: outline-offset 0.2s;
    text-decoration: none;
    font-weight: var(--button-font-weight);
    text-align: center;
    cursor: pointer;
    block-size: var(--button-height);
    box-sizing: border-box;

    &:focus-visible {
      outline: 2px solid var(--se-button-outline-color);
      outline-offset: 2px;
    }

    &:hover, &:focus-visible {
      --se-button-background-color: light-dark(var(--s2-blue-1000), var(--s2-blue-600));
      --se-button-border-color: light-dark(var(--s2-blue-1000), var(--s2-blue-600));
    }

    &.primary {
      --se-button-color: var(--s2-gray-25);
      --se-button-background-color: var(--s2-gray-900);
      --se-button-border-color: var(--s2-gray-900);

      &.outline {
        --se-button-background-color: transparent;
        --se-button-color: var(--se-button-border-color);
      }
    }

    &.secondary {
      --se-button-color: var(--s2-gray-900);
      --se-button-background-color: var(--s2-gray-500);
      --se-button-border-color: var(--s2-gray-500);

      &.outline {
        --se-button-background-color: transparent;
      }
    }

    &.negative {
      --se-button-background-color: var(--s2-red-900);
      --se-button-border-color: var(--s2-red-900);
      --se-button-outline-color: var(--s2-red-900);

      &:hover, &:focus-visible {
        --se-button-background-color: var(--s2-red-800);
        --se-button-border-color: var(--s2-red-800);
      }
    }

    &.icon-only {
      padding: 5px 0;
    }

    &.text-size-xl {
      --se-button-line-height: var(--s2-component-xl-bold-line-height);
      --se-button-padding: 24px;
      --button-height: var(--s2-component-xl-height);
      --button-border-radius: 24px;
      --button-font-size: var(--s2-component-xl-regular-font-size);
      --button-font-weight: 700;
    }

    &:disabled {
      opacity: 0.6;
      pointer-events: none;
    }
  }
}
