.detail-template {
  .template-wrapper {
    display: grid;
    grid-template-areas:
      'pagenav'
      'main';

    .global-sidenav {
      display: contents;
    }

    main {
      grid-area: main;
    }

    .page-nav {
      grid-area: pagenav;
      z-index: var(--sh-z-pagenav);
    }
  }
}

@media (width >= 1200px) {
  .detail-template {
    padding-inline-start: 0;

    .template-wrapper {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: 'nav-rail main pagenav';
      inline-size: 100%;
      gap: var(--s2-spacing-800);

      .nav-rail {
        grid-area: nav-rail;
        border: 1px solid red;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: var(--s2-spacing-100);
        position: sticky;
        top: calc(var(--sh-header-height) + var(--s2-spacing-100) + 8px);
        block-size: calc(100dvh - var(--sh-header-height) - var(--s2-spacing-100) - 16px);

        .global-sidenav {
          display: block;
          position: sticky;
          flex: 0 0 var(--sh-sitenav-rail-width);
        }

        .section-sidenav {
          display: block;
          position: sticky;
          flex: 1;
        }
      }

      .page-nav {
        grid-area: pagenav;
        z-index: auto;
        isolation: auto;
      }

      .section > .default-content {
        max-inline-size: 100%;
      }
    }
  }
}
