.detail-template {
  .template-wrapper {
    main {
      grid-area: main;
    }

    .page-nav {
      grid-area: pagenav;
      z-index: var(--sh-z-pagenav);
    }
  }
}

@media (width >= 900px) {
  .detail-template {
    padding-inline-start: 0;

    .template-wrapper {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: 'nav-rail main pagenav';

      .page-nav {
        grid-area: pagenav;
        z-index: auto;
        isolation: auto;
        inset-block-start: calc(var(--sh-header-height) + var(--s2-spacing-100) + 8px);
      }
      /* TODO: .section.container is used on the pattern library page for cards.
      Double check that this breakpoint doesn't conflict with the core layout blocks. */
      .section > .default-content {
        max-inline-size: 100%;
      }
    }
  }
}
