.table {
  table {
    border-collapse: separate;
    border-spacing: 0;
    inline-size: 100%;
    table-layout: fixed;
  }

  .heading-toggle {
    display: flex;
    place-content: center;
    justify-content: space-between;
    margin-block: 2rem;

    /* .table-tabs {
      display: flex;
      align-items: center;
      gap: var(--s2-spacing-100);
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .action-button:hover {
      background-color: var(--s2-gray-800);
      color: var(--sh-content-color-white);
    } */
  }

  thead tr th:first-child {
    border-start-start-radius: var(--s2-corner-radius-300);
  }

  thead tr th:last-child {
    border-start-end-radius: var(--s2-corner-radius-300);
  }

  tbody tr:last-child td:first-child {
    border-end-start-radius: var(--s2-corner-radius-300);
  }

  tbody tr:last-child td:last-child {
    border-end-end-radius: var(--s2-corner-radius-300);
  }

  th, td {
    padding-inline: 16px 8px;
    padding-block: 10px;
    border-block-end: 1px solid var(--s2-gray-300);
  }

  th:first-child, td:first-child {
    border-inline-start: 1px solid var(--s2-gray-300);
  }

  th:last-child, td:last-child {
    border-inline-end: 1px solid var(--s2-gray-300);
  }

  thead tr {
    background-color: var(--s2-gray-75);
  }

  thead th {
    border-block-start: 1px solid var(--s2-gray-300);
    font-weight: var(--s2-component-m-bold-font-weight);
    color: var(--s2-gray-800);
    font-size: var(--s2-component-m-regular-font-size);
    text-align: start;
  }

  &.quiet thead tr th:first-child,
  &.quiet thead tr th:last-child,
  &.quiet tbody tr:last-child td:first-child,
  &.quiet tbody tr:last-child td:last-child {
    border-radius: 0;
  }

  &.quiet th,
  &.quiet td {
    border-inline: 0;
  }
}
