.media {
  --media-width: 100%;
  --opacity: 100%;

  opacity: var(--opacity);
  margin-block: var(--s2-spacing-300);

  img {
    max-width: var(--media-width);
  }

  &.align-center {
    text-align: center;
  }

  &.align-right {
    text-align: right;
  }

  &.style-round {
    img {
      border-radius: 12px;
    }
  }
}

.section.center {
  .media {
    text-align: center;
  }
}
