footer {
  display: unset;
  font-size: var(--s2-body-size-xxs);
  color: var(--s2-gray-600);

  a {
    display: block;
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: revert;
    }
  }

  p {
    margin: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--s2-spacing-100);
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: flex;
    align-items: center;
  }

  li:not(:last-child)::after {
    content: '/';
    color: var(--s2-gray-400);
    margin-inline: var(--s2-spacing-200);
  }

  .footer-content {
    max-width: var(--se-grid-container-width);
    margin: 0 auto;
    padding-block: var(--s2-spacing-700);
    font-size: var(--s2-body-size-s);
  }

  .section {
    .default-content {
      max-width: initial;
      margin: initial;
    }
  }

  .section-copyright {
    margin-bottom: var(--s2-spacing-100);
  }
}

@media (width >= 900px) {
  .footer {
    margin: 0;

    .footer-content {
      max-width: revert;
      margin: revert;
    }

    .section-copyright {
      display: flex;
      justify-content: center;

      ul {
        display: flex;
        justify-content: end;
      }
    }
  }
}
